<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Credits</h1>
<h2>Bienvenido a CREDITOS</h2>
<p><a href="/">index</a></p>
<p><a href="/credits">Credits</a></p>
<p><a href="/quizzes">Quizzes</a></p>
<p>Alvaro Palomo Martin</p>
<IMG SRC="images/EDIFICIO.jpg">
</body>
</html>